<div class="container" id="main-container">
    <!-- <att-alert type="danger" on-close="someClosingMethod()" show-icon="true" show-confirmation-btn="true" button-text="Thanks"title="Attention">
        <span>Reckless driver near you!</span>
    </att-alert>
    <att-alert type="success" on-close="someClosingMethod()" auto-close-interval="3000" title="Thank You">
        <span>Thank you for the report!</span>
    </att-alert> -->
    <!-- <button type="button" ng-click="sendRecklessDriverAlert()" class="">Reckless Driver</button>
    <button type="button" ng-click="sendRoadHazardAlert()" class="">Road Hazard</button>
    <button type="button" ng-click="sendPoliceAlert()" class="">Police</button> -->

    <att-footer vertical-alignment="{{alignment}}">
        <a href="#/reportPage" class="">
            Report
        </a> 
        <div class="reportButton">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M70.9,26.3l-0.2,0.1c-5.7,3.3-12,9.6-12.2,9.9c-6.8,6.9-13,14.6-17.6,22L39,55.5c-2.1-3.1-3.5-5.1-4.3-6.3
                    c-1.5-2-3.1-4.1-5.5-4.1c-1.1,0-2.4,0.4-3.8,1.4c-1.7,1.1-2.3,2.5-2.3,4c0,2.2,1.3,4.5,2,5.6c1.2,1.9,2.2,3.6,3.3,5.4
                    c2,3.2,4,6.5,6.7,10.8c1.4,2.1,3,3.1,5.3,3.1c2.7,0,4.1-1.7,5.2-3.5c1.1-1.8,2.1-3.7,3.2-5.7c3.2-5.8,7.1-13.1,15-22.2
                    c0.1-0.1,6.8-7.9,11.4-11.3c0.2-0.1,0.3-0.2,0.8-0.7c0.8-0.8,1.1-1.5,1.1-2.1c0-1.1-0.7-1.9-1.2-2.5c-0.9-1-1.9-1.6-3-1.6
                    C72.2,25.6,71.5,25.8,70.9,26.3"/>
            </svg>
        </div>
    </att-footer>
</div>
